*
{
    margin: 0;
    padding: 0;
}
@import "../styles/nvbar";
@import "../styles/endWeb";
.snacks
{
    margin-left: 30px;
    margin-right: auto;
    margin-top: 100px;
    height: auto;
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 400px 400px;
    
    .snack 
    {
        img 
        {
            width: 320px;
            height: 300px;
            border-radius: 30px;
        }
        p 
        {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            i 
            {
                font-size: 25px;
                color:blue;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width:63.9375em)
{
    .snacks
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0;
        margin-left: 0;
        align-items: center;
        .snack
        {
            width: 90%;
            border: 1px solid rgb(153, 145, 145);
            border-radius: 5px;
            img {width: 100%;}
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width:63.9375em) and (min-width: 46.25em)
{
    .snacks
    {
        display: grid;
        grid-template-columns: 48% 48%;
    }
}